@model province.Models.Entities.Province


<!DOCTYPE html>
    <html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title></title>
   
    </head>
    <body>
    <h2 class="text-end">افزودن استان</h2>

    <form asp-action="Create" method="post" class="container w-50">
        <div class="form-group">
            <label  class="form-label">نام استان </label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary  w-75">ثبت</button>
    </form>
    </body>
    </html>
